<p id="notice"><%= notice %></p>

<p>
  <b>Ancientonedoomcounters:</b>
  <%= @game.ancientOneDoomCounters %>
</p>

<p>
  <b>Terrorlevel:</b>
  <%= @game.terrorLevel %>
</p>

<p>
  <b>Bankloans:</b>
  <%= @game.bankLoans %>
</p>

<p>
  <b>Eldersign:</b>
  <%= @game.elderSign %>
</p>

<p>
  <b>Gatetrophies:</b>
  <%= @game.gateTrophies %>
</p>

<p>
  <b>Monstertrophies:</b>
  <%= @game.monsterTrophies %>
</p>

<p>
  <b>Survivinginvestigators:</b>
  <%= @game.survivingInvestigators %>
</p>

<p>
  <b>Ancientone:</b>
  <%= @game.ancientOne %>
</p>

<p>
  <b>Heralds:</b>
  <%= @game.heralds %>
</p>

<p>
  <b>Guardians:</b>
  <%= @game.guardians %>
</p>

<p>
  <b>Expansions:</b>
  <%= @game.expansions %>
</p>

<p>
  <b>Investigators:</b>
  <%= @game.investigators %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
